webview.show{
  display: block;
}
webview{
  display: block;       /* iframes are inline by default */
    border: none;         /* Reset default border */
    height: 80vh;        /* Viewport-relative units */
    width: 95vw;
}

html {
    width: 100%;
    height: 100%;
}

::selection {
  background: #b7b7b7; /* WebKit/Blink Browsers */
}

body {
    height: calc(100% - 4em);
    padding-left : 8em;
    padding-right : 8em;
    padding-top: 4em;
    background : #000 ;
    margin : 0;
    overflow: hidden;
}

.main_text {
    background: transparent;
    color: #fff;
    line-height: 1.5em;
    width: 89%;
    height: 100%;
    font-size: 1.5em;
    font-family: monospace; 
    border: 0;
    border-radius: 0;
    outline: none;
    resize: none ;
    padding: 0 ;
}

.counter {
    background: transparent;
    color: #fff;
    line-height: 1.5em;
    width: 10%;
    height: 100%;
    font-size: 1.5em;
    font-family: monospace; 
    border: 0;
    border-radius: 0;
    outline: none;
    resize: none ;
    padding: 0 ;
}

.rime_sidebar {
    height: 100%;
    background: black ;
    text-align: left ;
    font-size: 1.5em;
    font-family: monospace; 
    color : white;
    top : 0;
    right : 0;
    width: 0;
    border-left: solid #9d9c9e;
    border-width: 2px;
    position : fixed;
    z-index: 1 ;
    overflow-x: hidden;
    transition: 0.5s;
}

li {
    list-style-type: none ;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.closebtn {
    position: absolute;
    top: 0;
    color: white;
    text-decoration: none;
    left: 0.3em;
    font-size: 36px;
}